/*footer nav*/
.admin_copyright
{
  background-color: #0099CC;
  color: #6c757d;
}
/*footer copyright*/
.admin_copyright a
{
  color: #fff;
}
.admin_copyright
{
  background-image:url('../images/header_footer.jpg');
}
.admin_copyright a{
  color: black;
}
/*footer content*/
#footer-con
{
  border-right: 1px solid #4285F4;
}
#admin_footer
{
}

/*admin navbar*/
#admin_nav
{
background-image:url('../images/header_footer.jpg');
}
#admin_nav a
{
  color: black;
}

/*Admin home page*/
/*table*/
#admin_home
{
  margin-top: 45px;
}
.admin_home
{
margin-bottom: 100px;
}

/*pm_check*/
/*Message Button inbox/outbox/send message*/

.svg-wrapper {

  position: relative;
  width: 150px;
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  background-color:white;
  text-align: left;
  overflow: hidden;
  margin:  auto;
  margin-top: 20px;
}

#shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: #009FFD;
  /*borders of box*/
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;
}
.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #06D6A0;
}

#text {
  margin-top: -35px;
  text-align: center;
}

#text a {
  color: black;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.1em;
}

/*view in */
#view_in {
  margin-top: 80px;
}

#view_out {
  margin-top: 80px;
}
/*Select user style*/

.select h1
{
  color: white;
  font-size: 25px;
  font-family:monospace;
}
.select
{

background-image: url('../images/send.jpg');
 width: 500px;
  height: 250px;

}
.select select
{

  width: 200px;
  height: 50px;
  font-size: 20px;

}

/*setting form*/

#setting_form
{
  margin-top: 50px;
}

#setting_form th
{
  text-align: center;
}

#setting_form td
{
  text-align: center;
}

/*filter table*/
#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 50%;
  font-size:15px;
  padding: 10px;
  border: 1px solid #ddd;
}
/*change_password_admin form*/

.change_password_admin{
  margin-top: 50px;
  margin-left: 10px;
}

/*add tshirt*/
.select_add
{
  width: auto;
}
/*Send message form*/

.send_to_form * {
    box-sizing: border-box;
}

.send_to_form
{
border-radius: 5px;
opacity: 0.5;
background-color:cyan;

}
.send_to_form input[type=text], select, textarea {
    width: 20%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.send_to_form label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.send_to_form input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: center;
}

.send_to_form input[type=submit]:hover {
    background-color: #45a049;
}
/*reply button*/

.reply_button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
.reply_button a {
  color: red;
}

/*---------------------------------------------------------------------------------Nadeem CSS------------------------------*/

html
{
  position: relative;
    min-height: 100%;
}

body
{
   margin-bottom: 60px;
}

.blue
{
  background-color: #33b5e5;
  color:#fff;
}

.blue a
{
  color:#fff;
}

.footer-copyright
{
  background-color: #0099CC;
  color: #6c757d;
}

.footer-copyright a
{
  color: #fff;
}

#footer-con
{
  border-right: 1px solid #4285F4;
}

 footer
{
  position: relative;
  bottom: 0;
}
/*-----------------------------------------*/
/* Registration Form (Register.php) */
#frm_container
{
  padding: 3%;
  background-color: #e3f2fd;
  width: 100%;
}


#frmreg
{
  /* padding:10px; */
  background-color: #bbdefb;
  width: 70%;
  padding:1%;
}

#btnregsubmit
{
  margin-top:5%;
}

#btnregreset
{
  margin-top: 5%;
}

#sltcountry
{
  width: 75%
}

.form-control
{
  display: inline !important;
}
/*-----------------------------------------*/
/* Login Form (includes/navbar.php) */

.modal-content
{
  padding-left:15%;
}

#chkremcont
{
  float:left;
  padding-top: 3%;

}

#lkfgpass
{
  font-weight: 400;
  float: right;
}

#lg-error
{
  color:red;
  padding-bottom: 2%;
  font-weight: bold;
}

/*#imglogo
{
  -ms-transform: rotate(20deg);*/ /* IE 9 */
  /*-webkit-transform: rotate(20deg);*/ /* Safari 3-8 */
  /*transform: rotate(20deg);
}*/

#imglogo
{
  height: 60px;
  width: 60px;
}

#img_preview
{
  margin-top: 5%;
}

.img_pre
{
  float: left;
}

.errfrm
{
  color:red;
  font-weight: bold;
}
